### Requirements

In [2]:
import pandas as pd

# for plotting
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'pandas'

# 9. Pandas: Basic Functions and Operations

### Importing and Exporting data
Pandas makes it easy to import and export data with various formats. To name a few:

|Format| reader | writer|
|---- |----|----|
|MS Excel| 	read_excel| 	to_excel|
|CSV |  	read_csv |	to_csv|
|HDF5|      read_hdf |	to_hdf|
|HTML|  	read_html |	to_html|
|Stata| 	read_stata |	to_stata|



When you write *pd.read_* and press tab, you can see what kind of data formats are supported.

In [32]:
pd.read_

AttributeError: module 'pandas' has no attribute 'read_'

e.g. with the method

                                        pd.read_csv(csv_file)
                                        
you can load data directly into a Pandas DataFrame. For *csv_file* you can either specify the local filename (saved on your computer) or use an internet address. 

CSV means comma separated values. It is just a text file and you can open it with any texteditor. Normally the first row contains the comma separated column names and subsequently every row is one data sample where the individual features are separated by a comma.

Sometimes not the comma is the separator, but other symbols like the semicolon. Then you can use the *delimiter=* argument. When you want to skip the first rows of the file, because they contain some description, you can use the *skiprows=* argument. There are also many other arguments.
When you have problems with importing data from a csv file, you should definitely take a look at the documentation

https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [1]:
# We will load some data from Gapminder  
# about the life expectancy, population and GDP per capita
# from Germany 1952 - 2007

gapminder = pd.read_csv("../../Data/gapminder_germany.csv")

gapminder

NameError: name 'pd' is not defined

In [34]:
# print out just the first 5 rows to get an idea
# especially useful when you have huge data sets
gapminder.head()

   Unnamed: 0  country continent  year  lifeExp       pop     gdpPercap
0         564  Germany    Europe  1952     67.5  69145952   7144.114393
1         565  Germany    Europe  1957     69.1  71019069  10187.826650
2         566  Germany    Europe  1962     70.3  73739117  12902.462910
3         567  Germany    Europe  1967     70.8  76368453  14745.625610
4         568  Germany    Europe  1972     71.0  78717088  18016.180270

### Converting to Numpy

With the operation 

                        .to_numpy()
                        
you can convert a DataFrame or a Series to a numpy array.

In the following cell we want to create a numpy matrix from the two columns lifeExp (life expectancy) and pop (population).

In [35]:
gapminder[['lifeExp', 'pop']].to_numpy()

array([[6.7500000e+01, 6.9145952e+07],
       [6.9100000e+01, 7.1019069e+07],
       [7.0300000e+01, 7.3739117e+07],
       [7.0800000e+01, 7.6368453e+07],
       [7.1000000e+01, 7.8717088e+07],
       [7.2500000e+01, 7.8160773e+07],
       [7.3800000e+01, 7.8335266e+07],
       [7.4847000e+01, 7.7718298e+07],
       [7.6070000e+01, 8.0597764e+07],
       [7.7340000e+01, 8.2011073e+07],
       [7.8670000e+01, 8.2350671e+07],
       [7.9406000e+01, 8.2400996e+07]])

### Delete data

Because the Unnamed:0 column and the continent column is useless, we want to delete them with the pandas function:

                                        data_frame.drop(c_labels, axis=1)
                                        
The axis is one because we want to delete columns. If we want to delete rows, then axis would be 0.

For *c_labels* we need the exact column name of the columns that we want to delete.

First we check which columns are available

In [36]:
gapminder.columns

Index(['Unnamed: 0', 'country', 'continent', 'year', 'lifeExp', 'pop',
       'gdpPercap'],
      dtype='object')

Now we delete 'Unnamed: 0' and 'continent'

In [37]:
gapminder = gapminder.drop(['Unnamed: 0','continent'], axis=1)

In [38]:
gapminder

    country  year  lifeExp       pop     gdpPercap
0   Germany  1952   67.500  69145952   7144.114393
1   Germany  1957   69.100  71019069  10187.826650
2   Germany  1962   70.300  73739117  12902.462910
3   Germany  1967   70.800  76368453  14745.625610
4   Germany  1972   71.000  78717088  18016.180270
5   Germany  1977   72.500  78160773  20512.921230
6   Germany  1982   73.800  78335266  22031.532740
7   Germany  1987   74.847  77718298  24639.185660
8   Germany  1992   76.070  80597764  26505.303170
9   Germany  1997   77.340  82011073  27788.884160
10  Germany  2002   78.670  82350671  30035.801980
11  Germany  2007   79.406  82400996  32170.374420

### Descritptive Statistics

1. The **sum** of all years

In [39]:
gapminder['year'].sum()

23754

In [40]:
# Get the sum per columns

gapminder.sum()

country      GermanyGermanyGermanyGermanyGermanyGermanyGerm...
year                                                     23754
lifeExp                                                881.333
pop                                                  930564520
gdpPercap                                               246680
dtype: object

2. The **mean** population

In [41]:
gapminder['pop'].mean()

77547043.33333333

In [42]:
# Get the mean per column
gapminder.mean()

year         1.979500e+03
lifeExp      7.344442e+01
pop          7.754704e+07
gdpPercap    2.055668e+04
dtype: float64

3. Sample **standard deviation** of population

In [43]:
gapminder['pop'].std()

4341644.086178589

In [44]:
# Get the standard deviation per column
gapminder.std()

year         1.802776e+01
lifeExp      3.872603e+00
pop          4.341644e+06
gdpPercap    8.076262e+03
dtype: float64

4.  **Correlation Matrix** Of Values

In [45]:
gapminder.corr()

               year   lifeExp       pop  gdpPercap
year       1.000000  0.994739  0.940851   0.996387
lifeExp    0.994739  1.000000  0.918690   0.986158
pop        0.940851  0.918690  1.000000   0.952964
gdpPercap  0.996387  0.986158  0.952964   1.000000

5. **Summary statistics**

In [46]:
# for column population
gapminder['pop'].describe()

count    1.200000e+01
mean     7.754704e+07
std      4.341644e+06
min      6.914595e+07
25%      7.571112e+07
50%      7.824802e+07
75%      8.095109e+07
max      8.240100e+07
Name: pop, dtype: float64

In [47]:
# for all columns
gapminder.describe()

              year    lifeExp           pop     gdpPercap
count    12.000000  12.000000  1.200000e+01     12.000000
mean   1979.500000  73.444417  7.754704e+07  20556.684433
std      18.027756   3.872603  4.341644e+06   8076.261913
min    1952.000000  67.500000  6.914595e+07   7144.114393
25%    1965.750000  70.675000  7.571112e+07  14284.834935
50%    1979.500000  73.150000  7.824802e+07  21272.226985
75%    1993.250000  76.387500  8.095109e+07  26826.198417
max    2007.000000  79.406000  8.240100e+07  32170.374420

In [48]:
# Get data types per column
gapminder.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    12 non-null     object
 1   year       12 non-null     int64
 2   lifeExp    12 non-null     float64
 3   pop        12 non-null     int64
 4   gdpPercap  12 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 608.0+ bytes

### Function application

These were all methods from the pandas library. If you want to apply your own function or a function from another library to a pandas DataFrame, use the
      
                                            apply()
                                    
method for row/ column wise application.

Example: In the following data set, the height and shoe size of women and men are collected. But for further processing we want to convert the strings "woman" and "man" to numbers.

In [12]:
shoesize_height = pd.read_csv("Data/wo_men.csv")
shoesize_height

                    time gender  height  shoe_size
0    04.10.2016 17:58:51  woman   160.0       40.0
1    04.10.2016 17:58:59  woman   171.0       39.0
2    04.10.2016 18:00:15  woman   174.0       39.0
3    04.10.2016 18:01:17  woman   176.0       40.0
4    04.10.2016 18:01:22    man   195.0       46.0
..                   ...    ...     ...        ...
96   17.10.2016 12:37:09  woman   170.0       39.0
97   17.10.2016 13:12:48  woman   183.0       39.0
98   19.10.2016 17:07:53  woman   173.0       40.0
99   29.10.2016 20:28:33  woman   160.0       37.0
100  30.10.2016 11:57:57  woman   168.0       39.0

[101 rows x 4 columns]

In [13]:
shoesize_height

                    time gender  height  shoe_size
0    04.10.2016 17:58:51  woman   160.0       40.0
1    04.10.2016 17:58:59  woman   171.0       39.0
2    04.10.2016 18:00:15  woman   174.0       39.0
3    04.10.2016 18:01:17  woman   176.0       40.0
4    04.10.2016 18:01:22    man   195.0       46.0
..                   ...    ...     ...        ...
96   17.10.2016 12:37:09  woman   170.0       39.0
97   17.10.2016 13:12:48  woman   183.0       39.0
98   19.10.2016 17:07:53  woman   173.0       40.0
99   29.10.2016 20:28:33  woman   160.0       37.0
100  30.10.2016 11:57:57  woman   168.0       39.0

[101 rows x 4 columns]

In [14]:
def convert_sex(x):
    if x=="woman":
        return 1
    elif x=="man":
        return 0
    else: # in case no data is available
        return None

In [15]:
shoesize_height['gender2'] = shoesize_height['gender'].apply(convert_sex)

In [16]:
shoesize_height

                    time gender  height  shoe_size  gender2
0    04.10.2016 17:58:51  woman   160.0       40.0      1.0
1    04.10.2016 17:58:59  woman   171.0       39.0      1.0
2    04.10.2016 18:00:15  woman   174.0       39.0      1.0
3    04.10.2016 18:01:17  woman   176.0       40.0      1.0
4    04.10.2016 18:01:22    man   195.0       46.0      0.0
..                   ...    ...     ...        ...      ...
96   17.10.2016 12:37:09  woman   170.0       39.0      1.0
97   17.10.2016 13:12:48  woman   183.0       39.0      1.0
98   19.10.2016 17:07:53  woman   173.0       40.0      1.0
99   29.10.2016 20:28:33  woman   160.0       37.0      1.0
100  30.10.2016 11:57:57  woman   168.0       39.0      1.0

[101 rows x 5 columns]

This is a general way how to convert values. In fact, in this case you can use the in-build Pandas method

                                            .replace('zero', 0)
                                            
in this example all string values *zero* are replaced with the number 0.